{% extends 'base.html.twig' %}

{% block title %}Home · Job Board{% endblock %}

{% block body %}
<h1>Welcome to the Job Board</h1>
<p>Use the navigation to browse jobs, post a job, or review the moderator queue.</p>
{% endblock %}


