<h2>First-time job poster</h2>
<p><strong>Title:</strong> {{ title }}</p>
<p><strong>Description:</strong></p>
<div>{{ description|raw }}</div>
<p>
    <a href="{{ view_link }}">Review job</a>
</p>


